.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    position: absolute;
}

.keys {
    width: 95%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.keys button {
    height: 50px;
    margin: 8px;
}